<% include ../partials/header %>

<style>
        .col-sm-6,.col-md-6{
          width: 50%;
          padding-right: 30px
        }
        .card{
          background: none;
          border: 0;
        }
        </style>
        
      <body>
      <div id="features1-2" custom-code="true" data-rv-view="4">
        <section class="mbr-section mbr-section-full" data-rv-view="4" style="background-image: url(assets/images/bg3.jpg); padding-top: 4.5rem; padding-bottom: 4.5rem;">
      
          <div class="container" style="width:1080px;position:relative">
      
            <center style="width: 90%;position: absolute;left: 15%;">
              <div class="row" style="margin:0;position:absolute;top:1350px;">
                <a href="moviequiz" style="display:inline">
                  <div class="col-sm-6 col-md-6">
                      <div class="card">
                          <div><img src="assets/images/balon.png" class="card-img-top"></div>
                          <div >
                              <h4 class="card-title text-xs-center mbr-editable-content"> Ray ban </h4>
                          </div>
                      </div>
                  </div>
                </a>
                <a href="runner" style="display:inline">
                  <div class="col-sm-6 col-md-6">
                      <div class="card">
                          <div><img src="assets/images/runner.png" class="card-img-top"></div>
                          <div >
                              <h4 class="card-title text-xs-center mbr-editable-content"> Oakley</h4>
                          </div>
                      </div>
                  </div>
                </a>
                
            </center>
      
          </div>
      </section></div>

      <% include ../partials/footer %>