<% include partials/header %>

<style>
        .col-sm-6,.col-md-6{
          width: 60%;
          padding-bottom: 40px;
        }
        .card{
          background: none;
          border: 0;
          margin: 0;
          width: 70%;
        }
        </style>
      
      

      <body>
      <div id="features1-2" custom-code="true" data-rv-view="4">
        <section class="mbr-section mbr-section-full" data-rv-view="4" style="background-image: url(assets/images/bg3.jpg); padding-top: 4.5rem; padding-bottom: 4.5rem;">
      
          <div class="container" style="width:1080px;position:relative">
      
            <center style="width: 90%;position: absolute;left: 25%;">
              <div class="row" style="margin:0;position:absolute;top:150px;">
                <a href="safilo" style="display:inline">
                  <div class="col-sm-6 col-md-6">
                      <div class="card">
                          <div><img src="assets/images/balon.png" class="card-img-top"></div>
                          <div >
                              <h4 class="card-title text-xs-center mbr-editable-content"> Safilo </h4>
                          </div>
                      </div>
                  </div>
                </a>
                <a href="luxotica" style="display:inline">
                  <div class="col-sm-6 col-md-6">
                      <div class="card">
                          <div><img src="assets/images/runner.png" class="card-img-top"></div>
                          <div >
                              <h4 class="card-title text-xs-center mbr-editable-content"> Luxotica</h4>
                          </div>
                      </div>
                  </div>
                </a>
                <a href="maikita" style="display:inline">
                  <div class="col-sm-6 col-md-6">
                      <div class="card">
                          <div><img src="assets/images/maraton.png" class="card-img-top"></div>
                          <div >
                              <h4 class="card-title text-xs-center mbr-editable-content"> Maikita</h4>
                          </div>
                      </div>
                  </div>
                </a>
                <a href="marchon" style="display:inline">
                  <div class="col-sm-6 col-md-6">
                      <div class="card">
                          <div><img src="assets/images/maraton.png" class="card-img-top"></div>
                          <div >
                              <h4 class="card-title text-xs-center mbr-editable-content"> Marchon</h4>
                          </div>
                      </div>
                  </div>
                </a>
              </div>
            </center>
      
          </div>
      </section></div>

      <% include partials/footer %>